@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*Pie de Pagina*/

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    z-index: -5;
    width: 100%;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:768px) {
    .pie-pagina .grupo-1 {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box figure img {
        width: 250px;
    }
}