/* Import Google font - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0D6EFD;
    background: white;
}

::selection {
    color: #fff;
    background: #0D6EFD;
}

.formulario {
    width: 715px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.10);
}

.formulario h2 {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}

.formulario form {
    margin: 35px 30px;
}

.formulario form.disabled {
    pointer-events: none;
    opacity: 0.7;
}

form .campo_dbl {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.campo_dbl .campo {
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
}

.formulario form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .campo input,
form .mensaje textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.campo input::placeholder,
.mensaje textarea::placeholder {
    color: #ccc;
}

.campo input:focus,
.mensaje textarea:focus {
    padding-left: 47px;
    border: 2px solid #0D6EFD;
}

.campo input:focus~i,
.mensaje textarea:focus~i {
    color: #0D6EFD;
}

form .mensaje {
    position: relative;
}

form .mensaje i {
    top: 30px;
    font-size: 20px;
}

form .mensaje textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
}

form .mensaje textarea::-webkit-scrollbar {
    width: 0px;
}

.mensaje textarea:focus {
    padding-top: 14px;
}

form .button-area {
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.boton-mensaje button {
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #97b5e2;
    transition: background 0.3s ease;
}

.boton-mensaje button:hover {
    background: #025ce3;
}

.boton-mensaje span {
    font-size: 17px;
    margin-left: 30px;
    display: none;
}

@media (max-width: 600px) {
    .formulario h2 {
        text-align: center;
    }
    .formulario form {
        margin: 35px 20px;
    }
    form .campo_dbl {
        flex-direction: column;
        margin-bottom: 0px;
    }
    form .campo_dbl .campo {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }
    form .mensaje textarea {
        resize: none;
    }
    form .boton-mensaje {
        margin-top: 20px;
        flex-direction: column;
    }
    .boton-mensaje button {
        width: 100%;
        padding: 11px 0;
        font-size: 16px;
    }
    .boton-mensaje span {
        margin: 20px 0 0;
        text-align: center;
    }
}